.loader-container {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background-color: #84b9cf;
  border-radius: 50%;
  animation: bounce 0.6s infinite ease-in-out;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
