:root {
  --primary-color: #3A59D1;
  --secondary-color: #3d90D7;
  --text-color: #7Ac6D2;
  --bg-color: #B5FCCD;

}

/* ===== Scrollbar Styling ===== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #cc9050 #fbf8f3;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fbf8f3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #d6cbbf,
    #cbb9a8
  );
  border-radius: 10px;
  border: 2px solid #fbf8f3;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #cbb9a8,
    #bfae9c
  );
}


@font-face {
  font-family: 'Head';
  src: url(../src/assets/fonts/Hello.ttf);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: linear-gradient(
    180deg,
    #f8f3ec 0%,
    #fbf8f3 40%,
    #ffffff 100%
  );

  min-height: 100vh;
  background-attachment: fixed;
  scroll-behavior: smooth;

}

h1 {
  font-family: 'Head';
  padding: 2%;
}

.headZo {

  font-family: 'Head';
}





.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-body {
  color: var(--text-color);
}

.bg-body {
  background-color: var(--text-color);
}

nav {
  box-shadow: 3px 3px gray;
}

.cmpn {
  text-shadow: 5px 5px gray;
}

form {
  margin: 3%;
  padding: 3%;
}

form td {}

form td input {}

.formbut {
  display: flex;
  justify-content: center;
}

.formbut button {
  border-radius: 15%;
  padding: 3%;

  /* margin: 4% 1% 1% 4%; */
}

.formbut button.active {
  background-color: rgb(96, 249, 216, .7);
  color: black;
}

.slideimgtext {
  font-family: 'Head';
}

.loguserab {
  margin-left: 35%;
  max-width: 30%;
}

.loguser {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 07%;

}

.loguser button {
  padding: 5%;
  margin: 5%;
  margin-left: 0%;
  margin-top: 9%;


}

.loguser button.active {
  background: rgba(255, 255, 255, 0.25); /* translucent glass */
  color: #000;
  font-size: large;

  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.15),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2);

  transition: all 0.25s ease;
}


.logform input {
  margin: 10%;
  padding: 1%;
  margin-left: 5%;
  border-bottom: 1px solid var(--text-color);

}

.logform input:hover {
  border-bottom: 1px solid var(--text-color);
}


.logform {
  margin: 10%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  min-width: 100%;
}

.addI {
  margin-left: 30%;
}

.arrow {
  width: 3%;
  height: 7%;
}

.sels.active {
  background-color: rgb(200, 200, 200, .3);
  border: 1px solid black;
}

.abouthead {
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;
  background: linear-gradient(90deg, rgb(46, 45, 43) 37%, rgb(216, 192, 83) 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.abouthead span{
  font-family: 'Head';
}
.aboutpara{
  font-family:serif
}

.bxs {
  margin: 3%;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;

backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 10px;
  font-family: serif;
}

.bxs h1{
  font-family: 'Head';
  
  
}

.searchbar{
  color: white;
  padding: 1px;
  border-radius: 10px;
   border: 2px solid black;
  background-color: transparent; /* optional if you want a clear background */
}
.searchlogo {
  /* filter: brightness(0) invert(1); */

}

.car{
  animation: slideY 1s ease-in-out ;
  width: 60%;
  height: 90%;
}
.cartext{
  font-size: 700%;
  animation: slideX 2.5s ease-in-out ;
}
.offers{
  animation: slideY 5s linear ;
}
.heroheading{
  font-family: 'Head';
}
.cardis  {
  animation: slideX 2s ease-in-out;
}
.cardis :hover{
  scale: 105%;
  
}

@keyframes moc {
    0% {
        transform: translate(0%, 0);

    }

    100% {
        transform: translate(-37%, 0);



    }


}

@media only screen and (max-width: 800px) {
  html {
    margin: 0%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    padding: 0%;

    margin-bottom: 0%;
    padding-bottom: 0%;

  }
.tabs{
  flex-wrap: wrap;
}
nav {
    align-items: inherit;
  }

  .slider {
    margin: 0%;
    padding: 0%;
  }

  .slideimgtext {
    font-size: 330%;
  }

  .loguser {
    display: flex;
    justify-content: center;
  }

  .loguser button {
    margin: 10%;
  }

  .logform input {
    margin: 7%;
    padding: 1%;
  }

  .logform {
  margin: 10%;
  margin-left: -30%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  min-width: 170%;
  }

  .admindiv {
    max-width: 100%;
    font-size: small;
  }

  .arrow {
    width: 5%;
    height: 7%;
  }
}

@media screen and (max-width:426px) {

  html {
    margin-top: 20%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;

  }

  nav {
    margin-top: 0%;
    
    
  }

  .slider {
    margin: 0%;
    padding: 0%;
  }
  .tabs{
  flex-wrap: wrap;
}

  .loguser {
    margin-top: 40%;
    display: flex;
    justify-content: center;
  }

  .loguser button {
    margin: 7%;
  }

  .logform {
    
    margin-left: -120%;
    margin-right: 100%;
    font-size: small;
    display: grid;
    justify-content: center;
    min-width: 335%;
  }

  .logform input {
    margin: 5%;
  }

  .admindiv {
    max-width: 100%;
    font-size: small;
    overflow-x: scroll;
  }

  .arrow {
    width: 12%;
    height: 15%;
  }
.cartext{
  font-size: 150%;
  padding-top: 3%;
}
}

@media screen and (min-width:426px) and (max-width:710px) {
  .logform {
    margin-left: -65%;

    min-width: 230%;
  }
}
@media screen and (min-width:710px) and (max-width:1024px) {
   .logform {
    margin-left: -35%;

    min-width: 170%;
  }
}

@keyframes slideX {
    0% {
            transform: translateY(75%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideY {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}